
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    display:flex;
    flex-direction: column;
    background: rgb(147, 143, 143);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh; 
    overflow-y: scroll; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Hide scrollbar for Webkit browsers */
  .modal-content::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* optional: just in case some browsers ignore the width property */
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
  }
  
  
  .modal-content button:hover {
    background-color: gray;
  }
  