body{
    overflow-x:hidden;
}
.bento-container {
    background-color: #131313;
   display:flex;
    /* grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto; */
    /* gap: 0px; */
    /* background-color: rgb(78, 77, 77); */
    color: white;
    /* padding: 20px; */
    border-radius: 10px;
    width:auto;
  padding:20px;
  padding-left: 50px;
  padding-right: 50px;
  gap:25px;
    /* overflow-x: hidden; */
    height:auto;
    margin: 0;
    margin-top: 40px;
}
.container2{
    display: flex;
    flex-direction:column;
    width:100%;
    height:auto;
    gap:25px;
}
.news{
    border-radius:20px;
    width:auto;
    height:100%;
    background-image: url("/src/assets/istockphoto-821675798-612x612.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding:40px;
}
.news:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.container3{
    width:100%;
    height:100%;
    display: flex;
    gap:20px;
}
.faq{
    background-image: url("/src/assets/faq.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    background-color: bisque;
    border-radius:20px;
 
}
.faq:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.blogs{
    background-image: url("/src/assets/blogs.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    background-color: bisque;
   border-radius:20px;
}
.blogs:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 300px);
    gap: 19px;
    width:auto;
    padding-top: 1rem;
    
}



.bento-item {
    border-radius: 10px;
    padding: 40px;
   
    display: flex;
    width:auto;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    position: relative;
    overflow-x: hidden;
   
}

.image-section {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-size: cover;
    background-repeat: no-repeat;
}

.head-text {
    
    font-size: 3rem;
    color: rgb(242, 230, 230);
    text-shadow: white;
}
.btn{
    color:var(--main-color);
   
}
.btn:hover{
    transform:none;
    box-shadow:none;
}
.btn :hover{
    box-shadow: #242229;
}
.explore-btn{
    position: absolute;
    bottom:3rem;
    
}
.explore-btn:hover{
    transform: none;
    box-shadow: none;
}
.image-section{
   
    background-size: cover;
    background-repeat: no-repeat;
}
.image-section img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    border-radius: 10px;
}

.graph-section {
    grid-column: 2 / span 37;
    grid-row: 1 / span 1;
    background-color: rgb(32, 6, 60);
    border-radius: 10px;
    padding: 20px;
    background-image: url("/src/assets/istockphoto-821675798-612x612.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3rem;
    color: var(--main-color);
}
.graph-section h3{
    position: absolute;
    bottom: 5rem;
    font-size: 2rem;
    color: white
}
.text-section1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: rgb(244, 224, 173);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    width: 300px;
    position: absolute;
    left: 49rem;
    
}
.text-section1 :hover{
    transform: none;
    box-shadow: none;
}
.blog-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    font-size: 1rem;
    color: black;
}

.blog-upper h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3px;
    color:rgb(38, 36, 36);
}
.blog-upper .arrow{
    color: red;
}
.arrow {
    padding-left: 3rem;
    font-size: 2rem;
    color: black;
}
.arrow :hover{
    color:rgb(66, 52, 27);
    transform: scale(1.2);
}
.text-section1 h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(62, 57, 57);
    margin-top: -2rem;
    position: absolute;
    bottom: 3rem;
}

.text-section1 p {
    font-size: 5rem;
    font-weight: 600;
    color: rgb(62, 57, 57);
    position: absolute;
    bottom: 6rem;
}

.text-section2 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    background-color: rgb(194, 140, 245);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    width: 280px;
    /* position: absolute; */
    left: 71rem;
}
.text-section2:hover{
    transform: none;
    box-shadow: none;
}
.bento-item:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
  .image-section:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .graph-section:hover {
    background-color: rgba(32, 6, 60, 0.8);
  }
  
  .text-section1:hover {
    background-color:  rgb(244, 224, 173);
  }
  
  .text-section2:hover {
    background-color: rgb(194, 140, 245);
  }
  .faq-heading1{
    position: absolute;
    bottom: 3rem;
    font-size: large;
    
  }
  .faq-heading2{
    font-size: 5rem;
    position: absolute;
    bottom: 7rem;
    color: #242229;
  }
  .slick-prev, .slick-next {
    color: black;
}
.slide-image {
    width: 100%;
    height: auto;
  }
  @media(max-width:768px){
    .slide-image {
        width: 100%;
       
        height: auto;
      }
      .carousel-container{
        width:100%;

      }
    .bento-container{
        display: flex;
        flex-direction:column;
        width:auto;
        height:100%;
        gap:15px;
        padding-left:10px;
        padding-right:10px;
    }
    .bento-grid{
        display: flex;
        flex-direction:column;
        height:auto;
        width:auto;
    }
    .graph-section{
        width:auto;
        margin: 0;
        height:300px;
    }
    .bento-item{
       /* width:auto; */
       
    }
    .blog_faq{
        display:flex;
        flex-direction: column;
        /* width:100%; */
        height:100vh;
       gap:40px;
    }
    .text-section1{
        left:1rem;
        height:300px;
        margin:0;
        width:250px;
       
    }
    .text-section2{
        
        left:1rem;
        height:300px;
        margin:0;
       
       
    }
    .container3{
        display: flex;
        flex-direction: column;
    }
    
    .btn{
       
    }
  }
  @media(max-width:460px){
    .bento-container{
        display: flex;
        flex-direction:column;
        width:auto;
        height:100%;
        gap:15px;
        padding-left:10px;
        padding-right:10px;
    }
    .bento-grid{
        display: flex;
        flex-direction:column;
        height:auto;
        width:auto;
    }
    .graph-section{
        width:auto;
        margin: 0;
        height:300px;
    }
    .bento-item{
       /* width:auto; */
       
    }
    .blog_faq{
        display:flex;
        flex-direction: column;
        /* width:100%; */
        height:100vh;
       gap:40px;
    }
    .text-section1{
        left:1rem;
        height:300px;
        margin:0;
        width:250px;
       
    }
    .text-section2{
        
        left:1rem;
        height:300px;
        margin:0;
       
       
    }
    .container3{
        display: flex;
        flex-direction: column;
    }
    
    
    
  }
